.flippable
{
    -webkit-backface-visibility: visible;
    -webkit-transform: rotateX(0deg) rotateY(0deg);
    -webkit-transform-style: preserve-3d;
    -webkit-transition: all 0.7s ease-in-out;
}
.flippable .front, .flippable .back
{
    width: inherit;
    height: inherit;

    -webkit-transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;
}
.flippable .front
{
    -webkit-transform: rotateX(0deg) rotateY(0deg);
}
.flippable .back
{
    -webkit-transform: rotateX(0deg) rotateY(180deg);
}
.flip
{
    -webkit-transform: rotateY(180deg);
}
