td
{
    /*border: solid 1px gray;*/
    padding: 2px;
}

table
{
    border-spacing: 0px;
}

tr:hover:not(.header)
{
    background-color: #6D94F8; 
}

input[type="text"], input[type="file"]
{
    display: block;
}

#allListsDisplay tr .selected
{
    background-color: #94F86D;
}

#currentListDisplay tr.selected
{
    background-color: #FBB9A7;
}

/*
Currently, this breaks the hover highlighting
#currentListDisplay tr:nth-of-type(odd):not(.header)
{
    background-color: #C4C4C4;
}*/

#allListsDisplay
{
    width: 300px;
    height: 100px;
    border: solid 1px;
    float: left;
    padding: 2px;
    margin: 0px 0px 10px 0px;
}

#addListContent
{
    float: left;
    border: solid 1px;
    padding: 2px;
    margin: 0 0 10px 10px;
    clear: right;
}

#addEntryContent
{
    width: 300px;
    border: solid 1px;
    float: left;
    clear: left;
    margin: 0 0 10px 0;
    padding: 2px;
}

#currentListDisplay
{
    width: 800px;
    height: 300px;
    border: solid 1px;
    margin: 0 0 0 10px;
    padding: 2px;
    float: left;

    overflow-y: scroll;
    resize: both;
}

#allListsTable
{
    width:100%;
}

#currentListTable
{
    width: 100%;
}

#fileHelper
{
    display: block;
    clear: both;
}
