td
{
    /*border: solid 1px gray;*/
    padding: 2px;
}

table
{
    border-spacing: 0px;
}

/*tr:nth-of-type(odd):not(.header)
{
    background-color: #FBB9A7;
}*/

tr:hover:not(.header), tr:hover .selected
{
    background-color: #6D94F8; 
}

tr .selected
{
    background-color: #94F86D;
}

#allListsDisplay
{
    width: 300px;
    height: 100px;
    border: solid 1px;
    float: left;
    padding: 2px;
    margin: 0px 0px 10px 0px;
}

#addListContent
{
    float: left;
    border: solid 1px;
    padding: 2px;
    margin: 0 0 0 10px;
}

#addEntryContent
{
    width: 300px;
    border: solid 1px;
    float: left;
    clear: both;
    margin: 0 0 10px 0;
    padding: 2px;
}

#addEntryContent input
{
    display: block;
}

#addListContent input
{
    display: block;
}

#currentListDisplay
{
    width: 800px;
    height: 300px;
    border: solid 1px;
    /*Note: clear makes it so that the div starts on it's own line (relative to the other divs)*/
    clear: both;

    overflow-y: scroll;
    resize: both;
}

#allListsTable
{
    width:100%;
}

#currentListDisplay table
{
    width: 100%;
}
