div.section
{
    padding: 10px;
    margin: 0px 10px 10px 0px;
    border: 3px solid black; 
    border-radius: 5px;
    float: left;
}

div.title
{
    width: 100%;
    font-size: 24px;
    font-weight: bold;
    display: block;
}

div.content
{
    padding-top: 5px;
    border: 3px solid green;
    border-radius: 5px;
}

/* This is a trick to make the content div extend to include the floating divs */
br.anchor
{
    clear: both;
}

div#lists
{
    height: 220px;
    clear: right;
}


div#listNames .selected
{
    background-color: #94F86D;
}
div#listNames
{
    border: solid 1px;
    width: 300px;
    height: 150px;
    overflow-y: scroll;
}
div#listInfo
{
    float: left;
}
div.list-name
{
    display: block;
    padding: 3px;
}
div.list-name:hover
{
    background-color: #6D94F8;
}
input[type="text"], input[type="file"]
{
    display: block;
}


#addListContent
{
    float: left;
    border: solid 1px;
    padding: 2px;
    margin: 0 0 10px 10px;
}

#addEntryContent
{
    width: 300px;
    border: solid 1px;
    float: left;
    margin: 0 0 10px 0;
    padding: 2px;
}

/*
Current List Table
*/
#currentListDisplay
{
    width: 800px;
    height: 300px;
    border: solid 1px;
    margin: 0 0 0 10px;
    padding: 2px;
    float: left;

    overflow-y: scroll;
    resize: both;
}

#currentListTable
{
    border-spacing: 0px;
    width: 100%;
}

td
{
    padding: 2px;
}

tr.selected
{
    background-color: #FBB9A7;
}

tr:hover:not(.header)
{
    background-color: #6D94F8; 
}
