body
{
    width: 200px;
}
button
{
    width: 100%;
    margin: 10px 0px 10px 0px;

    border: 1px solid #8FABB0;
    border-radius: 5px;
    font-size: 20px;
    display: block;
}
button:hover
{
    box-shadow: 0px 0px 10px blue;
}
button.on
{
    background-color: #4CE01B;
}
button.off
{
    background-color: #FF1E00;
}
label
{
    margin: 10px 0px 10px 0px;
    font-size: 20px;
    display: block;
}
div#lists
{
    border: 1px solid black;
    font-size: 15px;
    height: 200px;
}
.selected
{
    background-color: #80FF00;
}
.list-name
{
    display: block;
    padding: 3px;
}
.list-name:hover
{
    background-color: #0080FF;
}

