<!doctype html>
<html>
    <head>
        <title>Explore Lists</title>
        <link rel="stylesheet" type="text/css"
              href="/static/bootstrap.min.css">
    </head>

    <body>
        <div class="container">
            <div class="row" id="lists"> </div>
        </div>
    </body>

    <script
    src="{{ url_for('static', filename='jquery-1.11.3.min.js') }}">
    </script>

    <script>
    jQuery.get(
        url = "http://localhost:5000/list",
        success = function(response) {
            data = JSON.parse(response)["data"];
            for(var i = 0 ; i < data.length ; i++)
            {
                var category = $("<div class='col-md-6'><h2>" +
                                 data[i]["category"] +
                                 "</h2></div>")

                for (var j = 0 ; j < data[i]["lists"].length ; j++)
                {
                    var list_name = data[i]["lists"][j]
                    var entry = $("<a class='entry col-md-2' href='/explore/" + data[i]["category"] + "/" + list_name + "'>" + list_name + "</a>");
                    category.append(entry);
                }

                $("#lists").append(category)
            }
        }
    );
    </script>
</html>
